*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
    font-family: 'Montserrat', sans-serif;
 }

 a{
    text-decoration: none;
 }

 button{
    cursor: pointer;
 }
/* HEADER */
/* header background color and size */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 620px;
}

.container_header{
    width: 70%;
    margin: auto;
}

.row_top_header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.logo{
    width: 120%;
}

.nav{
    font-size: 17px;
    margin: 0px 22px;
    color: white;
}

.login{
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 25px;
}

.col_titolo_header{
    margin-top: 45px;
}

.row_bottom_header{
    width: 65%;
    margin: auto;
}

.main_title, .paragrafo_header{
    color: white;
}

.main_title{
    font-size: 60px;
}

.main_title, .paragrafo_header{
    text-align: center;
}

.paragrafo_header{
    font-size: 22px;
}

.col_paragrafo_header{
    margin-top: 50px;
}

.col_button_bottom_header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button_bottom_header_left{
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    margin-right: 20px;
}

.button_bottom_header_right{
    color: white;
    background-color: rgba(35,39,42,1);
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 25px;
}

/* MAIN */
/* -------SECTION_1-------- */
/* size and flex properties section */
.section_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}
/* size container */
.container_section_1{
    width: 70%;
}
/* size and display:flex row */
.row_section_1{
    display: flex;
    margin-top: 100px;
}
/* size, coor and border left col */
.col_section_1_left{
    width: 65%;

}
/* size, coor and border right col */
.col_section_1_right{
    width: 35%;
}

.title_section_main{
    font-size: 50px;
    padding-top: 30px;
    text-align: left;
}

.paragraph_section_main{
    margin-top: 25px;
    font-size: 22px;
}

/* -------SECTION_2-------- */
/* size, color and flex properties section */
.section_2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

 .section_2::before{
    background-image: url(../img/wave.svg);
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-position: 50% 0;
}
/* size container */
.container_section_2{
    width: 70%;
}
/* size and display:flex row */
.row_section_2{
    display: flex;
}
/* size, coor and border left col */
.col_section_2_left{
    width: 40%;
}
/* size, coor and border right col */
.col_section_2_right{
    width: 60%;
}

/* -------SECTION_3-------- */
/* size and flex properties section */
.section_3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 300px;
}
/* size container */
.container_section_3{
    width: 70%;
}
/* size and display:flex row */
.row_section_3{
    display: flex;
}
/* size, coor and border left col */
.col_section_3_left{
    width: 60%;
}
/* size, coor and border right col */
.col_section_3_right{
    width: 40%;
}

/* -------SECTION_4-------- */
/* size, color and flex properties section 1 */
.section_4{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 250px;
}

.section_4::before{
    background-image: url(../img/wave.svg);
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-position: 50% 0;
}
/* size, color and border container */
.container_section_4{
    width: 70%;
}

.title_section_4_main{
    font-size: 50px;
    padding-top: 30px;
    text-align: center;
}

.paragraph_section_4_main{
    margin-top: 25px;
    font-size: 22px;
    text-align: center;
}

.img_section_4_main{
    padding-left: 200px;
}

.col_section_4_bottom_1 h2{
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}

.col_section_4_bottom_1{
    margin-top: 60px;
    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.col_section_4_bottom_2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button_bottom_main{
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    margin-right: 20px;
    background-color: rgba(142,161,225,1);
}

/* FOOTER */
footer{
    background-color: rgba(201,202,202,1);
}
/* -------SECTION_1-------- */
/* size, color and flex properties section 1 */
.section_footer_1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(35,39,42,1);
}
/* size container */
.container_section_footer_1{
    width: 70%;
    height: 750px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(142,161,225,1);
}
/* size and display:flex row */
.row_section_footer_1{
    height: 100%;
    display: flex;
}
/* size, coor and border col */
.col_section_footer_1{
    margin-top: 50px;
    font-size: 40px;
    width: 33.33332%;
}

.col_section_footer_1 span{
    color: white;
    font-size: 20px;
}

.logos a{
    color: white;
    padding: 5px;
    font-size: 25px;
}

.flag_ita{
    margin-top: 60px;
    height: 3%;
}
/* size, coor and border col */
.col_section_footer_2{
    width: 16.66666%;
    margin-top: 50px;
}

.row_section_footer_1 ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

li{
    padding: 15px;
    font-size: 20px;
}
/* size, coor and border col */
.col_section_footer_3{
    width: 16.66666%;
    margin-top: 50px;
}
/* size, coor and border col */
.col_section_footer_4{
    width: 16.66666%;
    margin-top: 50px;
}
/* size, color and border col */
.col_section_footer_5{
    width: 16.66666%;
    margin-top: 50px;
}

.footer_title_color{
    color: rgba(142,161,225,1);
}

/* -------SECTION_2-------- */
/* size, color and flex properties section 1 */
.section_footer_2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(35,39,42,1);
}
/* size container */
.container_section_footer_2{
    width: 70%;
}
/* size and display:flex row */
.row_section_footer_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* centering ad color text */
.col_section_bottom_footer_1, .col_section_bottom_footer_2{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
/* size, color, position and border col */
.col_section_bottom_footer_1{
    margin-top: 50px;
    margin-bottom: 150px;
    width: 100px;
    align-self: center;
}
/* size, color, position and border col */
.col_section_bottom_footer_2{
    margin-top: 50px;
    margin-bottom: 150px;
    width: 100px;
    align-self: center;
}

.button_section_2_footer{
    color: white;
    background-color: rgba(142,161,225,1);
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 25px;
}